name: Set ArcGIS Portal Information Banner

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - informationbanner.txt

jobs:
  set-information-banner:
    runs-on: windows-latest
    env:
      ARCGIS_PORTAL_URL: ${{ secrets.ARCGIS_PORTAL_URL }}
      ARCGIS_PORTAL_USERNAME: ${{ secrets.ARCGIS_PORTAL_USERNAME }}
      ARCGIS_PORTAL_PASSWORD: ${{ secrets.ARCGIS_PORTAL_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Configure Python (3.13)
        uses: actions/setup-python@v4
        with:
          python-version: 3.13
      - name: Configure ArcGIS API for Python
        run: |
          python -m pip install arcgis==2.4.2.*
      - name: Configure ArcGIS Connection Profile
        shell: python
        run: |
          from arcgis.gis import GIS
          import os

          portal_url = os.getenv("ARCGIS_PORTAL_URL")
          username = os.getenv("ARCGIS_PORTAL_USERNAME")
          password = os.getenv("ARCGIS_PORTAL_PASSWORD")

          gis = GIS(profile="actions", username=username, password=password, url=portal_url)
          print(f"Successfully connected to ArcGIS Portal. GIS: {gis}; Saved profile: 'actions'")
      - name: Set Information Banner
        shell: python
        run: |
            from pathlib import Path
            from arcgis.gis import GIS
            gis = GIS(profile="actions")
            if not gis.admin:
                print("Authenticated user does not have administrative privileges. Exiting.")
                exit(1)

            information_banner_path = Path("informationbanner.txt")
            if not information_banner_path.is_file():
                print(f"Information banner file not found at: {information_banner_path.resolve()}. Exiting.")
                exit(1)
            
            information_banner = information_banner_path.read_text()
            print(f"Setting information banner to: {information_banner}")
            set_banner_success = gis.admin.ux.security_settings.set_informational_banner(information_banner)
            if set_banner_success:
                print("Information banner set successfully.")
            else:
                print("Failed to set information banner.")
                exit(1)