name: Set ArcGIS Portal Information Banner

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - PROD/configurations/informationbanner.txt

jobs:
  set-information-banner:
    runs-on: ubuntu-latest
    env:
      ARCGIS_PORTAL_URL: ${{ secrets.ARCGIS_PORTAL_URL }}
      ARCGIS_PORTAL_USERNAME: ${{ secrets.ARCGIS_PORTAL_USERNAME }}
      ARCGIS_PORTAL_PASSWORD: ${{ secrets.ARCGIS_PORTAL_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Configure pixi
        uses: prefix-dev/setup-pixi@v0.9.4
        with:
            activate-environment: true
      - name: Set Information Banner
        run: |
          pixi run python informationbanner.py
