name: Set ArcGIS Portal Information Banner

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - informationbanner.txt

jobs:
  set-information-banner:
    runs-on: ubuntu-latest
    env:
      ARCGIS_PORTAL_URL: ${{ secrets.ARCGIS_PORTAL_URL }}
      ARCGIS_PORTAL_USERNAME: ${{ secrets.ARCGIS_PORTAL_USERNAME }}
      ARCGIS_PORTAL_PASSWORD: ${{ secrets.ARCGIS_PORTAL_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Configure pixi
        uses: prefix-dev/setup-pixi@v0.9.4
        with:
            activate-environment: true
      - name: Set Information Banner
        shell: pixi run python {0}
        run: |
            import os
            from pathlib import Path
            from arcgis.gis import GIS

            portal_url = os.getenv("ARCGIS_PORTAL_URL")
            username = os.getenv("ARCGIS_PORTAL_USERNAME")
            password = os.getenv("ARCGIS_PORTAL_PASSWORD")

            gis = GIS(username=username, password=password, url=portal_url)
            if not gis.admin:
                print("Authenticated user does not have administrative privileges. Exiting.")
                exit(1)

            information_banner_path = Path("informationbanner.txt")
            if not information_banner_path.is_file():
                print(f"Information banner file not found at: {information_banner_path.resolve()}. Exiting.")
                exit(1)

            information_banner = information_banner_path.read_text()
            print(f"Setting information banner to: {information_banner}")
            set_banner_success = gis.admin.ux.security_settings.set_informational_banner(information_banner, enabled=True)
            if not set_banner_success:
                print("Failed to set information banner.")
                exit(1)

            print("Information banner set successfully.")